<div>
    <!-- "See the "API 101" section in this doc for more information. 

         for your commit, you can simply “identify” the properties in a
         comment in the location where you will display them. You can 
         also create your section or table where they will be displayed. 
         Any type of commit is okay for this.""  
        -->
    <!-- Task C -->
    <h2>{{ data.name }}</h2>
    <ul>
        <li><strong>Capital:</strong> {{ data.capital }}</li>
        <li><strong>Region:</strong> {{ data.region }} </li>
        <li><strong>Income Level:</strong> {{ data.incomeLevel }}</li>
        <li><strong>Longitude:</strong> {{ data.longitude }} </li>
        <li><strong>Latitude:</strong> {{ data.latitude }}</li>
    </ul>
</div>